<!DOCTYPE html>
<html>
	<head>
		<title>Bot Auto Responder</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/growl.js"></script>
		<script type="text/javascript" src="/js/funcs.js"></script>
		<script type="text/javascript" src="/js/login.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row" style="margin-top: 30%;">
				<div class="col-sm-4 col-sm-offset-4">
					<div class="panel panel-default" style="padding: 2em;">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-4">Username</label>
								<div class="col-sm-8">
									<input type="text" id="username" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Password</label>
								<div class="col-sm-8">
									<input type="password" id="password" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-4">
									<button type="button" id="submit" class="btn btn-primary">Login</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
